.code.is-lch
  +field(LCH ? 'LCH CSS code' : 'OKLCH CSS code', 'o', {
    type: 'text'
  })

.code.is-rgb
  +field('RGB CSS code', 'r', {
    type: 'text'
  })
  .code_note.is-paste
    = `Paste HEX, RGBA, or HSL to convert to OKLCH`
  .code_note.is-fallback.is-hidden
    = `Closest fallback (by chroma) in sRGB`


.code
  <div id="palette-demo">
    <div class="p10"></div>
    <div class="p20"></div>
    <div class="p30"></div>
    <div class="p40"></div>
    <div class="p50" ></div>
    <div class="p60" ></div>
    <div class="p70" ></div>
    <div class="p80" ></div>
    <div class="p90"></div>
    <div class="p95"></div>
    <div class="p99"></div>
  </div>
  <a target="_blank" id="palette-link" >Open Palette</a>
