@import './reset.css';
@import './colors.css';

@font-face {
  src: url('https://pub.user-owns-data.net/corp/design-system/webfonts/FiraCode-VF.woff2')
    format('woff2-variations');
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  font-named-instance: Regular;
  font-family: 'Fira Code';
}
:root {
  --radius: 12px;
  --opacity-pattern: repeating-conic-gradient(
      var(--chess) 0% 25%,
      var(--surface-1) 0% 50%
    )
    50% / 8px 8px;
  --unavailable-border: 1px dashed oklch(60% 0.05 310 / 40%);
}

body,
kbd {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
}

body {
  --current-surface: var(--surface-0);

  line-height: 16px;
  color: var(--text-primary);
  background: var(--current-surface);
  -webkit-tap-highlight-color: oklch(0% 0 0 / 0);
}

a,
input,
button {
  &:focus {
    outline: var(--accent) solid 3px;
  }

  &:not(:focus-visible):focus {
    outline: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
