.main
  button.main_expand( aria-label="Expand or collapse panel" )
  .main_row.main_row--sample
    include ../sample/index.pug
  .main_row
    include ../code/index.pug
  footer.main_footer
    | Forked From <a class="main_link" href="https://github.com/pleisto/oklch-picker">pleisto/oklch-picker</a>
    | Forked From <a class="main_link" href="https://github.com/evilmartians/oklch-picker">evilmartians/oklch-picker</a> <br/>
    | credits: <a class="main_link" href="https://sitnik.ru">Andrey Sitnik</a> & <a class="main_link" href="https://twitter.com/romanshamin_en">Roman Shamin</a>
